* { 
  box-sizing: border-box;
}
  
body {
  width: 100%;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  color: #000000;
}

div.accordion {
  color: #0000ff;
  font-weight: bold;
}

div.accordion p {
    text-align: left;
}
  
div.accordion i {
    color: #000000;
}

.subhead {
  display: flex;
  justify-content: space-between;
}


/*media queries--------------------*/
/*820px--------------------*/
@media (min-width: 820px) {
  body {
    font-size: 24px;
  }
}

/*1920px--------------------*/
@media (min-width: 1920px) {
  body {
    font-size: 24px;
  }
  
  div.accordion:hover {
    color: #000000;
    cursor: pointer;
  }
}