* { 
  box-sizing: border-box;
}
  
body {
  width: 100%;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  color: #000000;
}

div.accordion {
  color: #0000ff;
  font-weight: bold;
  margin: 20px auto;
}

div.accordion p {
    text-align: left;
}
  
div.accordion span {
    color: #000000;
    font-size: 32px;
    display: flex;
    align-items: center;
}

.subhead {
  display: flex;
  justify-content: space-between;
}

.accordion div.pic {
  max-width: 100%;
  height: auto;
  max-height: 0;
  padding-left: auto;
  padding-right: auto;
  overflow: hidden;
  transition: max-height 0.5s;
}

div.pic img {
  max-width: 100%;
}

input[type="radio"] {
  display: none;
}

div.accordion div:hover{
  cursor: pointer;
}

div.accordion label:hover{
  cursor: pointer;
}

.accordion input[type="radio"]:checked + label + div.pic {
  max-height: 420px;
}

.accordion input + label:hover + div.pic {
  max-height: 420px;
}

.accordion input + label + div.pic:hover {
  max-height: 420px;
}

.subhead span:hover {
  transform: rotate(45deg);
  transition: transform 0.5s;
}

div.block:hover > label > span {
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.subhead span:hover {
  transform: rotate(45deg);
  transition: transform 0.5s;
}

/*When clicked----------------------*/
div.block > label > span {
  transform: rotate(45deg);
  transition: transform 0.5s;
}



/*media queries--------------------*/
/*820px--------------------*/
@media (min-width: 820px) {
  body {
    font-size: 24px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/*1920px--------------------*/
@media (min-width: 1920px) {
  body {
    font-size: 28px;
  }
  
  div.accordion:hover {
    color: #000000;
    cursor: pointer;
  }
}