* { 
  box-sizing: border-box;
}
  
body {
  width: 100%;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Arial', sans-serif;
  font-size: 1.3em;
  text-align: center;
}

header {
  color: #000000;
}

.accordion {
  color: #0000FF;
  font-weight: bold;
  margin: 5% auto;
}

input[type="radio"] {
  display: none;
}

p.text {
  text-align: left;
}

.lbl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
    font-size: 2em;
    display: flex;
    align-items: center;
    align-content: center;
    color: #FFFFFF;
}

.accordion div.pic {
  max-width: 100%;
  height: auto;
  max-height: 0;
  padding-left: auto;
  padding-right: auto;
  overflow: hidden;
  transition: max-height 0.5s;
}

div.pic img {
  max-width: 100%;
}

.accordion input[type="radio"]:checked + label > div.pic {
  max-height: 20em;
}

input[type="radio"]:checked + label > div > span {
    transform: rotate(45deg);
    transition: transform 0.5s;
}


/*media queries--------------------*/
/*820px--------------------*/
@media (min-width: 820px) {
  body {
    font-size: 1.5em;
    padding-left: 15%;
    padding-right: 15%;
  }

  .accordion input + label:active > div.pic {
    opacity: 50%;
    transition: max-height 0.9s;
  }
} 

/*1920px--------------------*/
@media (min-width: 1920px) {
  body {
    font-size: 1.7em;
  }
  
  div.accordion:hover {
    color: #000000;
    cursor: pointer;
  }

  .accordion:hover div.lbl{
    color:#000000;
  }
  
  .accordion:hover span{
    color:#000000;
  }
  
  div.accordion div:hover{
    cursor: pointer;
  }

  .accordion input + label:hover > div.pic {
    max-height: 20em;
    transition: max-height 0.9s;
  }

  .accordion input + label:not(:hover) > div.pic {
    transition: max-height 0.9s;
  }

  div.block:hover > label > div > span {
    transform: rotate(45deg);
    transition: transform 0.9s;
  }

  div.block:not(:hover) > label > div > span {
    transition: transform 0.9s;
  }
}